<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dew-NOL-2021</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HolaMundo</display-name>
    <servlet-name>HolaMundo</servlet-name>
    <servlet-class>main.HolaMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolaMundo</servlet-name>
    <url-pattern>/HolaMundo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logger0</display-name>
    <servlet-name>logger0</servlet-name>
    <servlet-class>main.logger0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logger0</servlet-name>
    <url-pattern>/logger0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logger1</display-name>
    <servlet-name>logger1</servlet-name>
    <servlet-class>main.logger1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logger1</servlet-name>
    <url-pattern>/logger1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logger2</display-name>
    <servlet-name>logger2</servlet-name>
    <servlet-class>main.logger2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logger2</servlet-name>
    <url-pattern>/logger2</url-pattern>
  </servlet-mapping>
  
  <context-param>
        <param-name>logPath</param-name>
        <param-value>/home/user/Escritorio/log-NOL-dew.log</param-value>
    </context-param>
  
</web-app>